* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
	background-image: url('../images/aboutus.svg');
	background-size: 110% 100%;
    background-repeat: no-repeat;
	background-attachment: fixed;
	font:600 16px/18px 'Open Sans',sans-serif;
}

.person{
    background-color: #de611a ;
    width: 400px;
    margin-top: 12px;
    border-radius: 45px;
    height: 150px;

}
.samy , .ebrahim{
    margin-left: 450px;
}
.personName{
    text-align: center;
    margin-top: -70px;
}
.info{
    margin-left: 80px;
    text-align: center;
}
img{
margin: auto;
border-radius: 50%;
display: inline-block;
}

.fa {
    
    padding: 10px 10px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
  
  }
  .fa:hover {
    opacity: 0.7;
}
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  