body{
    background-image: url("../images/fireworks.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: auto;
    background-color: black;
}
.frog{
    text-align: center;
}