
*
{
    box-sizing:border-box
}

body
{
	color:#6a6f8c;
	background-image: url('../images/1264.jpg');
	background-size: 100% 100%;
    background-repeat: no-repeat;
	background-attachment: fixed;
	font:600 16px/18px 'Open Sans',sans-serif;
}


.login-wrap
{
	width:100%;
	margin-left: 540px;
	margin-top: 80px;
	max-width:525px;
	min-height:550px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height: 550px;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(255, 255, 255, 0.6);
	border-radius: 20px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm
{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}

.login-html .tab{
	font-size:35px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#F26739;
	text-shadow:5px 5px 20px #a7a7a7;
}
.login-form
{
	position:relative;
}
.login-form .group
{
    margin-top: 20px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button
{
	width:100%;
	color:r#6a6f8c;
    font-weight: bold;
	display:block;
}

.login-form .group .input,
.login-form .group .button
{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255, 255, 255, 0.8);
	box-shadow:0 20px 20px 0 rgba(71, 71, 71, 0.24),0 17px 50px 0 rgba(71, 71, 71, 0.19);
}

.login-form .group .label{
	color: #6a6f8c;
	font-size:13px;
    padding-top: 30px;
}
.login-form .group .button{
	background:rgb(70, 203, 24);
}
.login-form .group .button:hover
{
    background-color: rgb(57, 158, 23);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}


.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}


#frog1
{
    position: absolute;
    top: 300px;
    left: 1035px;
    width: 200px;
}
#frog2
{
    position: absolute;
    top: 380px;
    left: 170px;
    width: 140px;
}

#frog3
{
    position: absolute;
    top: 470px;
    left: 440px;
    width: 100px;
}
#frog4
{
    position: absolute;
    top: 300px;
	left: 950px;
	width: 350px;
}
#frog5
{
	position: absolute;
    top: 120px;
    left: 443px;
    width: 150px;
	filter: drop-shadow(5px 5px 10px black);
	z-index: 1;
}
#error_message
{
	background:#fff;
	border:1px dotted red;
	margin-bottom:1em;
	padding-left:0;
	padding-right:0;
	padding-top:4px;
	text-align:center;
	width:99%;
}