body{
    background-color: black;
}
.wrapper
{
    border: 5px solid black;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    /* background-color: rgb(100, 148, 237,0.8); */
    background: url('../images/water3.png');
    background-repeat: no-repeat;

}
.water{
    margin-top: 95px;
    width: 100%;
    height: 375px;
}
canvas
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bottomPage img{
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
}
/* .centerPage img{
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;

} */
.topPage img{
    width: 100%;
    height: 110px;
}